# Pandas - Subsetting and frequency tables

In this unit, you are going to learn how to use the index to subset data and create frequency tables

You will learn about:
- setting a column as the index
- using the index to create a subset of the data
- Creating frequency tables

### Examples from the introduction on frequency tables and subsetting

In [42]:
import pandas as pd

f500 = pd.read_csv('f500.csv')

f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,sector,country,years_on_global_500_list,employees,total_stockholder_equity
0,Walmart,1,485873,0.8,13643.0,198825,-7.2,Retailing,USA,23,2300000,77798
1,State Grid,2,315199,-4.4,9571.3,489838,-6.2,Energy,China,17,926067,209456
2,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,Energy,China,19,713288,106523
3,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,Energy,China,17,1512048,301893
4,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Motor Vehicles & Parts,Japan,23,364445,157210

#### Frequency table

In [43]:
f500['country'].value_counts()

USA             132
China           109
Japan            51
France           29
Germany          29
Britain          24
South Korea      15
Switzerland      14
Netherlands      14
Canada           11
Spain             9
India             7
Italy             7
Australia         7
Brazil            7
Taiwan            6
Ireland           4
Russia            4
Singapore         3
Sweden            3
Mexico            2
U.A.E             1
Thailand          1
Luxembourg        1
Turkey            1
Saudi Arabia      1
Finland           1
Venezuela         1
Norway            1
Indonesia         1
Belgium           1
Denmark           1
Malaysia          1
Israel            1
Name: country, dtype: int64

#### Only top 10 frequencies

In [44]:
f500['country'].value_counts()[:10]

USA            132
China          109
Japan           51
France          29
Germany         29
Britain         24
South Korea     15
Switzerland     14
Netherlands     14
Canada          11
Name: country, dtype: int64

### Subsetting with the index

#### Setting a column to the index

In [45]:
f500 = f500.set_index('sector')
f500.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,country,years_on_global_500_list,employees,total_stockholder_equity
sector,,,,,,,,,,,
Retailing,Walmart,1,485873,0.8,13643.0,198825,-7.2,USA,23,2300000,77798
Energy,State Grid,2,315199,-4.4,9571.3,489838,-6.2,China,17,926067,209456
Energy,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,China,19,713288,106523
Energy,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,China,17,1512048,301893
Motor Vehicles & Parts,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Japan,23,364445,157210

#### Creating a subset with the index

In [46]:
tech = f500.loc['Technology']
tech.head()

,company,rank,revenues,revenue_change,profits,assets,profit_change,country,years_on_global_500_list,employees,total_stockholder_equity
sector,,,,,,,,,,,
Technology,Apple,9,215639,-7.7,45687.0,321686,-14.4,USA,15,116000,128249
Technology,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,South Korea,23,325000,154376
Technology,Amazon.com,26,135987,27.1,2371.0,83402,297.8,USA,9,341400,19285
Technology,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Taiwan,13,726772,33476
Technology,Alphabet,65,90272,20.4,19478.0,167497,19.1,USA,9,72053,139036

#### Re-setting the index

In [47]:
f500 = f500.reset_index()
f500.head()

,sector,company,rank,revenues,revenue_change,profits,assets,profit_change,country,years_on_global_500_list,employees,total_stockholder_equity
0,Retailing,Walmart,1,485873,0.8,13643.0,198825,-7.2,USA,23,2300000,77798
1,Energy,State Grid,2,315199,-4.4,9571.3,489838,-6.2,China,17,926067,209456
2,Energy,Sinopec Group,3,267518,-9.1,1257.9,310726,-65.0,China,19,713288,106523
3,Energy,China National Petroleum,4,262573,-12.3,1867.5,585619,-73.7,China,17,1512048,301893
4,Motor Vehicles & Parts,Toyota Motor,5,254694,7.7,16899.3,437575,-12.3,Japan,23,364445,157210

#### Other ways to create subsets

In [49]:
# using numerical index
toyota = f500.iloc[4]
print(toyota)

sector                      Motor Vehicles & Parts
company                               Toyota Motor
rank                                             5
revenues                                    254694
revenue_change                                 7.7
profits                                    16899.3
assets                                      437575
profit_change                                -12.3
country                                      Japan
years_on_global_500_list                        23
employees                                   364445
total_stockholder_equity                    157210
Name: 4, dtype: object

In [51]:
# using boolean indexing
# this creates a slice of the dataframe, that is, a new dataframe, which is why the output is different
tech = f500[f500['sector'] == 'Technology']
tech.head()

,sector,company,rank,revenues,revenue_change,profits,assets,profit_change,country,years_on_global_500_list,employees,total_stockholder_equity
8,Technology,Apple,9,215639,-7.7,45687.0,321686,-14.4,USA,15,116000,128249
14,Technology,Samsung Electronics,15,173957,-2.0,19316.5,217104,16.8,South Korea,23,325000,154376
25,Technology,Amazon.com,26,135987,27.1,2371.0,83402,297.8,USA,9,341400,19285
26,Technology,Hon Hai Precision Industry,27,135129,-4.3,4608.8,80436,-0.4,Taiwan,13,726772,33476
64,Technology,Alphabet,65,90272,20.4,19478.0,167497,19.1,USA,9,72053,139036

---

### Task 1 - import the nobel dataset

The nobel dataset has data on all nobel price laureates till 2016. Since most of the columns are categorical, that is, with a limited number of categories, we can use frequency tables to explore the data.

1. Import pandas.
2. Import the nobel dataset.
3. Print the first five rows.
4. Use the `.tail()` method to print the last five rows.

In [1]:
# import pandas


# read in nobel.csv


# print head

In [2]:
# print tail

### Task 2 - Frequencies and percentages

1. Create a frequency table of the category column.
2. Set the normalize parameter to True to get percentages instead of frequencies.

In [3]:
# frequency table of category column

In [4]:
# percentage table of category column

### Task 3 - Percentages for  female laureates.

1. Set the sex column as the index.
2. Select all 'Female' values from the index and assign to the variable nobel_fem.
3. Create a table with percentages of the category column for the female laureates.

In [ ]:
# use sex column as the index

In [ ]:
# create subset for female price winners using the index

In [54]:
# create frequency table of

Peace         0.291667
Literature    0.291667
Medicine      0.250000
Chemistry     0.083333
Economics     0.041667
Physics       0.041667
Name: category, dtype: float64

### Task 4 - Comparing countries in physics.

1. Reset the the index and print the head to make sure that the dataset has all columns: year, category, birth_country, sex and age_at_award.
2. Set the category column as the index and print the head to check that the index has been set correctly.
3. Create a subset where the index has the values 'Physics'. Name the subset nobel_physics.
4. Using the nobel_physics subset, create a table with percentages of the birth_country column. Limit the output to the top 10 values.

In [5]:
# reset the index

In [6]:
# set category as the index

In [7]:
# create subset for physics using the index


# create frequency table for birth country column