# Pandas - Introduction

In this unit, you are going to learn the basics of using the Pandas library.

You will learn about:
- importing datasets
- inspecting data for basic sanity checks
- getting summary statistics
- selecting columns

### Examples from the introduction to creatign and indexing arrays

#### Importing a dataset

In [1]:
# importing pandas
import pandas as pd

# loading a dataset
f500 = pd.read_csv('fortune500.csv')

# printing first 5 rows
f500.head()

,Company,Revenue,Net Income,Market Value,EPS 3 YR Growth Rate,Revenue 3 YR Growth Rate,Total Return 3 YR Rate
0,AppFolio,271,35,4805,1.61,0.34,0.71
1,Medifast,726,76,1899,0.65,0.44,0.54
2,Texas Pacific Land Trust,395,236,3506,0.90,0.87,0.29
3,Medpace Holdings,891,110,3944,0.92,0.32,0.47
4,Netflix,21403,2232,217632,0.93,0.32,0.45

#### Inspecting data

In [3]:
# getting number of rows and columns
f500.shape

(10, 7)

In [4]:
# getting the data type for each column
f500.dtypes

Company                      object
Revenue                       int64
Net Income                    int64
Market Value                  int64
EPS 3 YR Growth Rate        float64
Revenue 3 YR Growth Rate    float64
Total Return 3 YR Rate      float64
dtype: object

In [5]:
# getting summary statistics for each column
f500.describe()

,Revenue,Net Income,Market Value,EPS 3 YR Growth Rate,Revenue 3 YR Growth Rate,Total Return 3 YR Rate
count,10.000000,10.000000,1.000000e+01,10.000000,10.000000,10.000000
mean,32653.100000,1495.900000,1.905085e+05,0.882000,0.375000,0.521000
std,92855.965511,3275.019031,4.911580e+05,0.413919,0.181123,0.189294
min,271.000000,35.000000,1.899000e+03,0.370000,0.250000,0.290000
25%,434.000000,71.500000,4.011250e+03,0.620000,0.290000,0.427500
50%,801.500000,93.500000,6.770500e+03,0.905000,0.320000,0.475000
75%,3837.000000,1192.250000,5.648150e+04,0.927500,0.337500,0.600000
max,296274.000000,10562.000000,1.575238e+06,1.610000,0.870000,0.920000

In [6]:
# getting the number of non-null values for each column
f500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 7 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Company                   10 non-null     object
 1   Revenue                   10 non-null     int64
 2   Net Income                10 non-null     int64
 3   Market Value              10 non-null     int64
 4   EPS 3 YR Growth Rate      10 non-null     float64
 5   Revenue 3 YR Growth Rate  10 non-null     float64
 6   Total Return 3 YR Rate    10 non-null     float64
dtypes: float64(3), int64(3), object(1)
memory usage: 688.0+ bytes

### Task 1 - Importing the console sales dataset.

The console_sales.csv dataset has data on yearly and cumulative sales for the biggest video game consoles from 2005-2018.

1. Import the pandas library.
2. Load the console_sales.csv file.
3. Print the first 5 rows of the dataset.

In [1]:
# Import the pandas library.


# Load the console_sales.csv file.


# Print the first 5 rows of the dataset.

### Task 2 - Inspecting the data

1. How many rows does the dataset have?
2. Print the summary statistics for the dataset. 
3. Print the summary statistics only for the sold_year_pct_change column.
3. Print the data types. Which columns are non-numerical?
4. Are there any nan's/missing values in the dataset?

In [ ]:
# How many rows does the dataset have?

In [ ]:
# Print the summary statistics for the dataset.

In [ ]:
# Print the summary statistics only for the sold_year_pct_change column.

In [ ]:
# Print the data types. Which columns are non-numerical?

In [ ]:
# Are there any nan's/missing values in the dataset?